body {
	background: linear-gradient(to bottom, #006666, black) no-repeat fixed;
	margin: auto;
	max-width: 1200px;
	padding: 20px;
        color: gainsboro;
        font-size: 1.3em;
        text-align: justify;
	vertical-align: middle;
}

a:link, a:visited {
	color: mediumturquoise;
}

a:hover {
	color: lime;
}

h1, .titlu {
	text-align: center;
	font-size: 2em;
}

h2, .subtitlu {
	text-align: center;
	font-size: 1.7em;
}
h3 {
	text-align: center;
	font-size: 1.4em;
}

h4, .capitol {
	margin-left: 50px;
	font-size: 1.5em;
}

h5, .subcapitol {
	margin-left: 20px;
	font-size: 1.2em;
}

aside {
	font-size: 0.8em;
}

.cod, cod, code, samp, kbd {
	background: #222;
	color: lime;

	border-radius: 20px;
	border: 1px solid lime;

	margin: 1em;
	display: block;
	padding: 1em;

	font-family: monospace;
	font-size: 1em;
	overflow-wrap: break-word;
}

inline-cod, var {
	display: inline-block;
	background: #222;
	color: lime;
	font-family: monospace;
	font-style: normal;
	overflow-wrap: break-word;
}

.highlight {
	background-color: rgba(255, 2555, 0, 0.2);
}

.row {
	display: flex;
	flex-flow: row wrap;
}
.column {
	display: flex;
	flex-flow: column wrap;
}
.row.center, .column.center {
	justify-content: center;
	align-items: center;
}

.crypto {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
}
.crypto var {
	flex-shrink: 1;
	text-align: center;
	font-size: small;
	max-width: 80%;
	flex-basis: 80%;
	flex-shrink: 8;
}
img.qrcode {
	height: 250px;
	width: 250px;
	padding: 20px;
	border: none;
}


.centered-text {
	text-align: center;
}

.grid {
	display: grid;
	grid-gap: 0px 0px;
}

.grid * {
	border: 1px solid gainsboro;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
}

ul li {
	padding: 7px;
}
ol li {
	padding: 7px;
}

.flexboy {
	display: flex;
}
